# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.nx/cache/
build/

# Environment variables (Sensitive data)
.env
*.env.local

# Debug logs
npm-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
/.nx
